html,body{
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #1F2B6C;
    padding: 25px;
    text-align: center;
}

.nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.header {
    background-color: #8BBAD4;
    padding: 10px;
    text-align: center;
    color: rgb(42, 44, 46);
}

form .DateAndcar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

form h3 {
    text-align: center;
}