* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #1F2B6C;
    padding: 25px;
    text-align: center;
}

.nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.header {
    background-color: #8BBAD4;
    padding: 10px;
    text-align: center;
    color: rgb(42, 44, 46);
}

form .emergencyReport {
    margin: 20px auto;
    padding: 20px;
    background-color: #d1e7f8;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding-bottom: 40px;
}

form .top-row,
form .center-row,
form .h-start-point,
form .h-end-point {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items to the center */
    gap: 20px; /* Add gap between elements */
    margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่างของแต่ละกลุ่ม */
}

form .button {
    display: flex;
    justify-content: center;
    gap: 20px; /* ระยะห่างระหว่างปุ่ม */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

form .submit-button, form .cancel-button {
    padding: 10px 15px; /* เพิ่มพื้นที่ในปุ่ม */
    font-size: 8px; /* ขนาดตัวอักษรใหญ่ขึ้น */
    border-radius: 5px; /* มุมโค้ง */
    border: none; /* ลบเส้นขอบ */
    cursor: pointer; /* เปลี่ยน cursor เป็น pointer */
}

form .submit-button {
    background-color: #4CAF50; /* สีเขียว */
    color: white;
}

form .cancel-button {
    background-color: #f44336; /* สีแดง */
    color: white;
}

select {
    padding: 1px; /* เพิ่มพื้นที่ใน select */
    width: 20%; /* กำหนดความกว้างเท่ากับของ container */
    border-radius: 5px; /* มุมโค้ง */
    border: 1px solid #ccc; /* เส้นขอบ */
}
